<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Thông báo trúng giải</title>
  </head>
  <body>
    <div>Bạn đã trúng {{prize}}</div>
    <div>Vé số {{ticketNumber}} ngày {{date}} của đài {{province}}</div>
  </body>
</html>